<a href="https://colab.research.google.com/github/Kstyle0710/my_pandas/blob/master/my_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
lst1 = ['Korea', 100]
lst2 = ['Japan', 80]
lst3 = ['China', 90]

In [5]:
lst = []
lst.append(lst1)
lst.append(lst2)
lst.append(lst3)
print(lst)

[['Korea', 100], ['Japan', 80], ['China', 90]]

In [8]:
cols = ['nation', 'power']
df = pd.DataFrame(lst, columns=cols)
# df=df.T
df

            0      1      2
nation  Korea  Japan  China
power     100     80     90